html {
  scroll-behavior: smooth;
}

.logistick{
  background-image: url('../img_about/section-1\ backgroubnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0px;
  margin-top: -78px;
}

.logistcik__body h1{
  margin-top: 20px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:900px){
  .logistick{
    padding: 70px 0px;
  }
}

@media (max-width:700px){
  .logistcik__body h1{
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width:500px){
  .logistick{
    background-position: right;
  }
}
}
/*----------------------------------------Section2--------------------------------------------*/

.overview-company{
  padding: 60px 0px 120px 0px;
}

.overview__body{
  display: flex;
  column-gap: 100px;
}

.overview__columns{
  flex:40%;
}

.background__first-column__about{
  background-image: url('../img_about/section-2\ background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.overview__columns__body{
  color: #1C1F35;
}

.overview__columns__body h3{
  margin-top: 20px;
}

.overview__columns__body h2{
  margin-top: 30px;
  display: inline-block;
}

.overview__box-for-button{
  display: flex;
  column-gap: 20px;
}

.btn-ovewview__bottom{
  color: #fff;
}

.btn-ovewview{
  padding: 15px 45px;
  background-color: #F4F4F4;
  margin: 20px 0px;
  color: #1C1F35;
  font-weight: 600;
  transition: 500ms;
}

.overview__box-for-button button.dark {
  color: #1C1F35;
}

.overview__columns__body button a{
  padding: 15px 39px;
  color: #fff;
  font-size: 14px;
}

.overview__box-for-button button.orange__button{
  background-color: #FFB82B;
  color: #fff;
}


.first__column-absolute{
  width: 250px;
  height: 250px;
  position: absolute;
  border: 20px solid #fff;
  background-image: url('../img_about/section-2\ absolute-for.png');
  background-position: center;
  right: -60px;
  bottom: -60px;
}

.text-fix{
  min-height: 110px;
}

.max1300px__padding{
  max-width: 1250px;
  padding: 0px 30px;
  margin: 0px auto;
}


/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:1460px){
  .background__first-column__about{
    background-position: left;
  }
  .first__column-absolute{
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  .overview__body{
  display: flex;
  column-gap: 80px;
  }
  
}


@media (max-width:1000px){
  .overview__body{
    flex-direction: column;
  }
  
  .overview__box-for-button{
    display: flex;
  }
  .overview__box-for-button button{
    display: block;
  }
  .first__column-absolute{
    max-width: 150px;
    max-height: 150px;
  }
  .background__first-column__about{
    width: 40%;
    min-height: 300px;
    max-height: 350px;
    background-position: left;
  }
  .overview-company{
    padding: 60px 0px;
  }
}


@media (max-width:768px){
  .background__first-column__about{
    width: 80%;
  }
  .overview__columns__body h3{
  margin-bottom: 20px;
  }
  .first__column-absolute{
    display: none;
  }
}

@media (max-width: 600px){
  .overview__box-for-button{
    display: block;
  }
}

@media (max-width: 500px){
  .background__first-column__about{
    width: 100%;
  }
  .overvier__button{
    width: 100%;
    margin-top: 20px;
  }
}



/*----------------------------------------Section3--------------------------------------------*/

.what-we-do{
  background-color: #F4F4F4;
  padding: 70px 0px;
  color: #1C1F35;
}

.max1150px{
  max-width: 1150px;
  margin: 0px auto;
  padding: 0px 130px;
}

.what-we-do__top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do__title{
  margin-top: 20px;
}

.what-we-do__column__title{
  margin-top: 20px;
}

.what-we-do__text{
  margin-top: 10px;
}

.what-we-do__body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px;
  row-gap: 60px;
  margin-top: 50px;
}

.what-we-do__columns h3{
  color: #1C1F35;
  transition: 200ms;
}


.what-we-do__columns:hover.what-we-do__columns h3{
  color: #FFB82B;
}



.what-we-do__bottom{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.what-we-do__bottom a{
  padding: 19px 45px;
  color: #fff;
}

/*----------------------------------------ADAPTIV--------------------------------------------*/
@media (max-width:900px){
  .max1150px{
    padding: 0px 100px;
  }
}


@media (max-width:768px) {
  .max1150px{
    padding: 0px 40px;
  }
}

@media (max-width:550px){
  .what-we-do__bottom button{
    display: block;
    width: 100%;
  }
}

@media (max-width:500px){
  .what-we-do__body{
    row-gap: 40px;
  }
}


/*----------------------------------------section4--------------------------------------------*/

.pricing{
  color: #1C1F35;
  padding: 80px 0px;
}


.pricing__top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title{
  margin-top: 20px;
  margin-bottom: 40px;
}

.pricing__body{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.pricing__column{
  padding: 60px 50px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  transition: 800ms
}


.pricing__column__title{
  margin-bottom: 40px;
}


.pricing__price span{
  font-size: 85px;
}

.pricing__list-option{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.pricing__list-option li{
  padding: 15px 0px;
  border-top: 1px solid #D6D6D6;
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;

}

.pricing__list-option li:last-child{
  border-bottom: 1px solid #D6D6D6;
}


.pricing__column__button{
  padding: 15px 30px;
  color: #fff;
}

.pricing__column__button.yellow {
  color: #1C1F35
}


.blue__pricing{
  background-color: #091242;
  color: #fff;
}

.button__pricing{
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #1C1F35;
  background: #FFBB2F;
  background: linear-gradient(90deg,rgba(255, 187, 47, 1) 2%, rgba(255, 218, 86, 1) 52%, rgba(255, 215, 151, 1) 100%);
  border: none;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  transition: 500ms;
  z-index: 1;
}


.button__pricing::after {
  content: "";
  transition: 500ms;
  right: -10px;
  bottom: -10px;
  position: absolute;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 0;
}

.button__pricing:hover::after {
  width: 140px;
  height: 110px;
  z-index: 0;
  right: -40px;
  bottom: -35px;
  z-index: -1;
}


/*----------------------------------------ADAPTIV--------------------------------------------*/

@media (max-width:1450px) {
  .pricing__last-column{
    width: 710px;
  }
}

@media (max-width:780px){
  .pricing__last-column{
    width: 340px;
  }
}

@media (max-width:400px){
  .pricing__price span{
    font-size: 50px;
  }
}


/*----------------------------------------section5--------------------------------------------*/


.faqq{
  background-color: #F4F4F4;
  padding: 80px 0px;
  position: relative;
}

.faq__body{
  display: flex;
}

.absolute__faq{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  z-index: 0;

}

.faq__body{
  color: #1C1F35;
}

.faq__title{
  margin-top: 20px;
}



.faq-question {
  width: 100%;
  padding: 16px 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #fbbf24;
  border-bottom: 2px solid #fbbf24;
  transform: rotate(45deg);
  transition: transform .3s;
}

.faq-item.active .arrow {
  transform: rotate(-135deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px;
}

.faq__first-column{
  flex: 40%;
}

.faq__last-column{
  flex: 40%;
  position: relative;
  z-index: 10;
}


.faq-question{
  margin-bottom: 20px;
}


.faq__contact{
  display: flex;
  align-items: center;
}


.faq__last-column-box{
  background-color: #091242;
  display: inline-block;
  padding: 50px 60px;
  color: #fff;
  max-width: 450px;
  max-height: 350px;
}

.faq__last-column{
  padding-left: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.faq__column-right__title{
  margin-top: 20px;
}

.faq__contact{
  margin-top: 20px;
}

.faq__contact span{
  margin-right: 10px;
}


.faq__contact__text h3{
  margin-top: 5px;
}

.contact__button{
  padding: 15px 40px;
  margin-top: 30px;
}


/*----------------------------------------ADAPTIV--------------------------------------------*/

@media (max-width:1700px){
  .absolute__faq{
    width: 580px;
    height: 440px;
  }
}

@media (max-width:1500px){
  .absolute__faq{
    width: 500px;
    height: 440px;
  }
  .faq__last-column-box{
    max-width: 300px;
    max-height: 350px;
  }
}


@media (max-width:1200px){
  .faqq{
    padding-bottom: 80px;
  }
  .faq__body{
    flex-direction: column;
  }
  .faq__last-column-box{
    display: block;
    min-width: 100%;
  }
  .absolute__faq{
    display: none;
  }
  .faq__last-column{
    padding-left: 0px;
    margin-top: 40px;
  }
  .faq__title{
    margin-bottom: 40px;
  }
}

@media (max-width:950px){
  
}

@media (max-width:500px){
  .faq__last-column-box{
    padding: 40px;
  }
}


/*----------------------------------------section6--------------------------------------------*/

.about__bottom{
  padding: 50px 0px;
}

.about__bottom__body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.about__bottom__body img{
  border: 2px solid #D6D6D6;
  width: 250px;
  height: 180px;
}