.blog-top{
  background-image: url('../img_blog/section-1\ background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0px;
  margin-top: -78px;
  color: #fff;
}

.blog-top__body h1{
  margin-top: 20px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:900px){
  .blog-top{
    padding: 70px 0px;
  }
}

@media (max-width:700px){
  .blog-top__body h1{
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width:500px){
  .blog-top{
    background-position: right;
  }
}
}