

.wrapper{
  display: flex;
  flex-direction: column;
  color: #fff;
  min-height: 100vh;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


main{
  flex: 1;
}

.container{
  max-width: 1300px;
  margin: 0px auto;
}





.title{
  line-height: 133%;
  color: #1C1F35;
  font-family: "Rubik", sans-serif;
}

.displaytext{
  font-size: 60px;
  font-weight: 700;
}

.heading01text{
  font-size: 50px;
  font-weight: 600;
}

.heading02text{
  font-size: 40px;
  font-weight: 600;
}

.heading03text{
  font-size: 35px;
  font-weight: 500;
}

.heading04text{
  font-size: 30px;
  font-weight: 500;
}

.heading05text{
  font-size: 25px;
  font-weight: 500;
}

.heading06text{
  font-size: 20px;
  font-weight: 400;
}

.heading07text{
  font-size: 16px;
  font-weight: 400;
  font-family: "Krub", sans-serif;
  line-height: 152%;
}


.white{
  color: #fff;
}

.dark{
  color: #1C1F35;
}

.background-for-title{
  padding: 2px 5px;
  background-color: #F3F3F3;
  border-left: 3px solid #FFCB44;
  display: inline;
  font-family: "Rubik", sans-serif;
}

.background-for-title__blue{
  padding: 2px 5px;
  background-color: #333A62;
  border-left: 3px solid #FFCB44;
  display: inline;
  font-family: "Rubik", sans-serif;
}

.max1000px{
  max-width: 850px;
  margin: 0px auto;
}

.rubick{
  font-family: "Rubik", sans-serif;
}

.krub{
  font-family: "Krub", sans-serif;
}

.max1300px{
  max-width: 1300px;
  margin: 0px auto;
}

/*---------------------------------------ADAPTIV_CONTAINER-----------------------------------------*/
@media(max-width:1600px){
  .container{
    max-width: 1100px;
  }
  .heading03text{
  font-size: 25px;
  font-weight: 500;
}
}

@media(max-width:1200px){
  .container{
    max-width: 900px;
  }
}

@media (max-width:1050px){
  .container{
    padding: 0px 20px;
  }
}


@media(max-width:900px){
  .container{
    max-width: 100%;
  }
    .header__container{
    margin-left: 0px;
  }
  .has-submenu.open li{
    font-size: 14px;
  }
}


/*---------------------------------------TITLE-----------------------------------------*/

/*---------------------------------------PARAG-----------------------------------------*/

.text-for-footer{
  color: #fff;
  line-height: 152%;
  font-weight: 500;
  font-size: 16px;
  font-family: "Krub", sans-serif;
}

.text-for-footer-list{
  color: #fff;
  line-height: 250%;
  font-weight: 500;
  font-size: 16px;
  font-family: "Krub", sans-serif;
}



.text-for-head{
  color: #fff;
  font-family: "Krub", sans-serif;
  line-height: 152%;
  font-weight: 500;
  font-size: 16px;
}

.parag{
  color: #666C89;
  font-family: "Krub", sans-serif;
  line-height: 152%;
  font-weight: 500;
  font-size: 14px;
}


.forlist{
  color: #666C89;
  font-family: "Krub", sans-serif;
  line-height: 327%;
  font-weight: 500;
  font-size: 16px;
}

.forblock{
  font-family:  "Rubik", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  color: #FFFFFF;
}
/*---------------------------------------PARAG-----------------------------------------*/

/*---------------------------------------BUTTON-----------------------------------------*/

.button{
  padding: 19px 50px;
}

.button span{
  font-size: 16px;
  font-weight: 600;
  font-family: "Krub", sans-serif;
}

.yellow {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  background: #FFBB2F;
  background: linear-gradient(90deg,rgba(255, 187, 47, 1) 2%, rgba(255, 218, 86, 1) 52%, rgba(255, 215, 151, 1) 100%);
  border: none;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  transition: 500ms;
  z-index: 1;
}



.yellow::after {
  content: "";
  transition: 500ms;
  right: -10px;
  bottom: -10px;
  position: absolute;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 0;
}


.yellow:hover::after {
  width: 140px;
  height: 110px;
  z-index: 0;
  right: -40px;
  bottom: -35px;
  z-index: -1;
}



.blue {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  background: #091242;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  transition: 500ms;
  z-index: 1;
}



.blue::after {
  content: "";
  transition: 500ms;
  right: -10px;
  bottom: -10px;
  position: absolute;
  background: #1F2A69;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 0;
}

.blue:hover::after {
  width: 140px;
  height: 110px;
  z-index: 0;
  right: -40px;
  bottom: -35px;
  z-index: -1;
}



/*---------------------------------------BUTTON-----------------------------------------*/





.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: pointer;

  border: none;

  position: relative;
  overflow: hidden;
}



