.eror{
  padding: 100px 0px;
  background-color: #f4f4f4;
}


.eror__body h1{
  font-size: 350px;
  color: #1C1F35;
  font-weight: 700;
  text-align: center;
}


.eror__body h1 span{
  color: #FFB82B;
}

.eror__text h2{
  font-size: 35px;
  color: #1C1F35;
  text-align: center;
  font-weight: 700;
  margin-top: 15px;
}

.eror__text p{
  text-align: center;
  margin-top: 20px;
}

.eror__body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.eror__box-for__button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


@media (max-width:1600px){
  .eror__body h1{
  font-size: 300px;
  color: #1C1F35;
  font-weight: 700;
  text-align: center;
}
}

@media (max-width:900px){
  .eror__body h1{
  font-size: 200px;
  color: #1C1F35;
  font-weight: 700;
  text-align: center;
}
}


@media (max-width:600px){
  .eror__body h1{
  font-size: 150px;
  color: #1C1F35;
  font-weight: 700;
  text-align: center;
}
}

@media (max-width:450px){
  .eror__body h1{
  font-size: 100px;
  color: #1C1F35;
  font-weight: 700;
  text-align: center;
}
}