.footer{
  background-color: #091242;
}

.footer__top{
  display: flex;
  border-bottom: 2px solid #4E5683;
}

.footer__top__logo{
  flex: 33%;
  padding: 40px 0px 40px 45px;
}

.footer__top__logo h2{
  display: flex;
  align-items: center;
}

.footer__logo__bottom a{
  color: inherit;
}

.footer__top__pages{
  flex: 16%;
  padding: 50px 0px 50px 54px;
}

.footer__top__utility{
  flex: 16%;
  padding: 50px 0px 50px 54px;
}

.footer__top__subscribe{
  flex: 33%;
  padding: 50px 0px 50px 45px;
}


/******************************************section2*********************************/

.footer__main{
  display: flex;
}


.footer__logo__bottom{
  flex: 33%;
  padding: 40px 0px 40px 45px;
}

.footer__logo__bottom h3{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer__logo__bottom h3 span{
  margin-right: 10px;
}

.footer__logo__bottom__text{
  color: #E8E8E8;
  margin-bottom: 24px;
}

.footer__pages__bottom{
  flex: 16%;
  padding: 50px 0px 50px 54px;
}

.footer__pages__bottom ul li:hover{
  text-decoration: underline;
}

.footer__pages__bottom ul li{
  margin-bottom: 20px;
}

.footer__pages__bottom ul li a{
  color: #E8E8E8;
}



.footer__utility__bottom{
  flex: 16%;
  padding: 50px 0px 50px 54px;
}

.footer__utility__bottom ul li:hover{
  text-decoration: underline;
}

.footer__utility__bottom ul li{
  margin-bottom: 20px;
}

.footer__utility__bottom ul li a{
  color: #E8E8E8;
}




.footer__subscribe__bottom{
  flex: 33%;
  padding: 40px 0px 40px 45px;
}


.footer__subscribe__bottom input{
  background-color: inherit;
  padding: 15px 31px;
  border: 1px solid #4E5683;
  color: #fff;
  font-size: 17px;
}

.footer__input::placeholder{
  font-size: 15px;
}

.submit-social-media button{
  padding: 15px 35px;
}


.submit-social-media{
  display: flex;
  margin-top: 20px;
}

.social-media li{
  margin-left: 20px;
}

.social-media{
  display: flex;
  align-items: center;
}

.footer__bottom{
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  border-top: 1px solid #4E5683;
}



@media(max-width:1050px){
  .footer__top__logo{
    padding-left: 24px;
  }
  .footer__top__pages{
    padding-left: 24px;
  }
  .footer__top__utility{
    padding-left: 24px;
  }
  .footer__top__subscribe{
    padding-left: 24px;
  }


  .footer__logo__bottom{
    padding-left: 24px;
  }
  .footer__pages__bottom{
    padding-left: 24px;
  }
  .footer__utility__bottom{
    padding-left: 24px;
  }
  .footer__subscribe__bottom{
    padding-left: 24px;
  }
}


@media(max-width:950px){
  .footer__top{
    display: none;
  }
  .footer__logo__bottom{
    flex: 100%;
    padding-bottom: 0px;
  }
  .footer__main{
    flex-wrap: wrap;
  }
  .footer__logo__bottom h3{
    display: inline-flex;
    margin-right: 30px;
  }
}


@media(max-width:600px){
  .footer__subscribe__bottom{
    flex: 100%;
    padding-top: 0px;
  }
  .footer__pages__bottom{
    flex: 50%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
  }
  .footer__utility__bottom{
    padding: 15px 0px;
    flex: 50%;
    display: flex;
    justify-content: center;
  }
  .footer__subscribe__bottom input{
    width: 100%;
  }

  .social-media ul li{
    margin-right: 25px;
  }
  .footer__utility__bottom ul li{
    margin-bottom: 35px;
  }

    .footer__pages__bottom ul li{
    margin-bottom: 35px;
  }
  .footer__bottom{
    padding: 25px 30px;
    text-align: center;
    font-size: 14px;
  }
}