.header,
.fixed {
  width: 100%;
}

header{
  display: block;
}

.header{
  padding: 20px 0px;
  background-color: #091242;
  min-width: 100%;
}

.header__body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero__body h1{
  margin:20px 0px;
}


.info li{
  color: #fff;
  margin-right: 39px;
  position: relative;
  align-items: center;
  display: flex;
}

.info li:last-child{
  margin-right: 0px;
}

.info__item--time::before{
  content: url('../img_header/Icon.png');
  margin-right: 10px;
  display: block;
}

.info__item--email::before{
  content: url('../img_header/Icon2.png');
  margin-right: 10px;
  display: block;
}

.info__item--phone::before{
  content: url('../img_header/Icon3.png');
  margin-right: 10px;
  display: block;
}

.header__body ul {
  display: flex;
}

.header__body h4{
  color: #fff;
  display: flex;
  align-items: center;
}

.header__body h4 a{
  color: #fff;
}

.header__body h4::before{
  content: url('../img_header/logo_img.png');
}

.fixed{
  height: 78px;
  background-color: #09124240;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.header__container{
  padding-left: 0px;
}

.fixed__body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.navigation{
  display: flex;

}


.navigation li{
  padding: 0px 25px;
  border-right: 1px solid grey;
}

.navigation li:last-child{
  border-right: none;
}

.navigation li:first-child{
  padding-left: 0px;
}

.social-media ul{
  margin-left: 0;
  display: flex;
  gap: 30px;
}


.social-media ul li{
  padding: 0px 15px;
}

.request{
  padding: 31px 48px;
  background-color: #fff;
}

.request h4 a{
  color: #000;
  font-family: "Krub", sans-serif;
  font-weight: 500;
}

.header__list {
  position: static;
  width: auto;
  height: auto;
  transform: none;
  background: none;
}

/* ================= Pages submenu ================= */

.has-submenu {
  position: relative;
  font-family: "Krub", sans-serif;
}

/* скрыто по умолчанию */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;

  background-color: #091242;
  min-width: 200px;
  padding: 10px 0;
  z-index: 200;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition: 
    opacity 0.25s ease,
    transform 0.25s ease;
}

.submenu li a:hover{
  border-bottom: 1px solid #fff;
}

/* показываем */
.has-submenu.open .submenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  margin-top: 10px;
}



/* пункты */
.submenu li {
  padding: 10px 20px;
  border: none;
}

.submenu li:first-child{
  padding: 10px 20px;
}

.submenu a {
  color: #fff;
  font-size: 14px;
}


.has-submenu button{
  font-size: 16px;
  background-color: inherit;
}

.pages-btn::after {
  content: "▾";
  margin-left: 6px;
  font-size: 0.75em;
}

.has-submenu.open .pages-btn::after {
  content: "▴";
}


.has-submenu.open li{
  font-size: 15px;
}
/****---------------------------------Burger-------------------------------****/



/****---------------------------------Burger-------------------------------****/

/****---------------------------------ADAPTIV-------------------------------****/


@media (max-width:1450px){
  .header{
    padding: 30px 0px;
  }
}

@media (max-width:1200px){
  .container{
    max-width: 1000px;
  }
  .header{
    padding: 30px 0px;
  }
  .header__body h4{
    font-size: 20px;
  }
  .navigation li{
    padding: 0px 15px;
    font-size: 14px;
  }
  .social-media ul{
  margin-left: 0;
  display: flex;
  gap: 0px;
  }
}


@media (max-width:1050px){
  .header__body{
    display: block;
  }
  .header__body h4{
    font-size: 30px;
  }
    .request{
    padding: 15px 30px;
  }
  .fixed__body{
    display: flex;
    align-items: center;
    height: 78px;
  }
}

@media (max-width:900px){
  /*-----------------------BURGER--------------------------------/*/
  .burger{
  display: none;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 500;
  align-items: center;
  cursor: pointer;
}

.burger span{
  height: 2px;
  width: 100%;
  background: #fff;
}

.burger::before,
.burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: 0.3s;
}

.burger::before{ top: 0; }
.burger::after{ bottom: 0; }


.header__list {
    position: fixed;
    top: 0;
    right: 0;

    width: 30vw;
    min-width: 260px; 
    height: 100vh;

    background-color: #091242;
    z-index: 400;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .header__list.open {
    transform: translateX(0);
  }

  .navigation {
    flex-direction: column;
    gap: 25px;
  }

  .navigation li {
    border: none;
    padding: 0;
  }


  .burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg);
}

.header__list .navigation {
  gap: 44px; 
}


.header__list .navigation a {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
}

.header__list .navigation li {
  width: 100%;
  font-size: 20px;
}

.header__list .navigation {
  padding-left: 0;
  margin: 0;
}

.header__list .navigation {
  padding-left: 0;
  margin: 0;
  width: 100%;
}

.header__list .navigation li {
  width: 100%;
}

.header__list .navigation a {
  display: block;
  width: 100%;
  text-align: center; /* или center */
  font-size: 20px;
}

.header__list {
  background: rgba(9, 18, 66, 0.8);
  backdrop-filter: blur(2px);
}

body.lock {
  overflow: hidden;
}



/*--------------------------BURGER-----------------------------/*/


  .header__body{
    display: flex;
  }
  .burger{
    display: flex;
  }
  .header__body .info{
    display: none;
  }
  .fixed__body > *:not(.header__list){
    display: none;
  }
  .fixed {
    background:none;
  }

  .has-submenu {
  width: 100%;
}

.pages-btn {
  width: 100%;
  text-align: center;
  position: relative;
}

.submenu {
  position: static;
  background: none;
  padding: 0;
}

.submenu li {
  padding: 10px 0;
}

.submenu a {
  font-size: 22px;
  text-align: center;
  display: block;
}
}

@media (max-width: 900px) {

  /* основной список */
  .header__list .navigation > li > a,
  .header__list .navigation > li > button {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  /* Pages пункт */
  .has-submenu {
    text-align: center;
  }

  /* submenu как accordion */
  .submenu {
    position: static;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
  }

  .submenu li:first-child{
    padding: 25px 0px;
  }

  .has-submenu.open .submenu {
    max-height: 300px;
    opacity: 1;
    pointer-events: auto;
  }

  /* пункты внутри Pages */
  .submenu li {
    padding: 25px 0;
  }

  .submenu a {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.85;
    text-align: center;
    display: block;
  }

  /* стрелка */
  .pages-btn::after {
    content: "▾";
    margin-left: 8px;
    font-size: 0.6em;
    transition: transform 0.3s ease;
  }

  .has-submenu.open .pages-btn::after {
    transform: rotate(180deg);
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
  }



  .pages-btn::after {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
  }
}


@media (max-width:600px){
  .header__container{
    padding-left: 10px;
  }
}


