.hero{
  margin-top: -78px;
  background-image: url('../img_main/background-section1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__body{
  padding-top: 200px;
  padding-bottom: 50px;
}

.hero__body h2{
  font-size: 14px;
  padding: 2px 5px;
  background-color: #032951;
  display: inline;
  border-left: 3px solid #FFCB44;
}

.hero__container{
  max-width: 530px;
}

.hero__body h1{
  margin-top: 20px;
}

.button__hero{
  margin-top: 25px;
  padding: 20px 45px;
}

.text__hero{
  color: #fff;
}
/****************************************ADAPTIV*******************************************************/
@media (max-width:1200px){
  .hero__body{
    padding-top: 100px;
  }
  .hero__container h1{
    font-size: 45px;
    margin-bottom: 30px;
  }
}

@media (max-width:900px){
  .hero__container h1{
    font-size: 45px;
  }
  .hero__body{
    padding-top: 50px;
  }
  .text__hero{
    margin-top: 30px;
  }
}

@media (max-width:768px){
  .hero__container h1{
    font-size: 30px;
    margin-bottom: 30px;
  }
}

/****************************************ADAPTIV*******************************************************/
/****************************************section2*******************************************************/

.safe__body{
  color: #000;
  padding: 80px 0px;
  display: flex;
}

.safereliable{
  max-width: 320px;
  padding-right: 50px;
}

.safe__body h2{
  margin-top: 20px;
}

.title__column-safe{
  transition: 200ms;
}

.ship:hover .title__column-safe{
  color: #FFBB2F;
}

.house:hover .title__column-safe{
  color: #FFBB2F;
}

.air:hover .title__column-safe{
  color: #FFBB2F;
}

.car:hover .title__column-safe{
  color: #FFBB2F;
}

.safe__columns{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  gap: 30px;
  transition: 1s;
}

.safe__column{
  border-left: 2px solid #D8D8D8;
  padding-left: 20px;
  position: relative;
  margin-left: 80px;
}

.subtitle__column-safe{
  color: #666C89;
}

.ship::before{
  content: url('../img_main/icon-for-section2\ 1.png');
  position: absolute;
  left: -80px;
}

.house::before{
  content: url('../img_main/icon-for-section2\ 2.png');
  position: absolute;
  left: -80px;
}

.air::before{
  content: url('../img_main/icon-for-section\ 2\ 3.png');
  position: absolute;
  left: -85px;
}

.car::before{
  content: url('../img_main/icon-for-section\ 2\ 4.png');
  position: absolute;
  left: -80px;
}
/****************************************Adaptiv*******************************************************/
@media(max-width:1100px){
  .safe__columns{
  display: block;
  }
  .safe__body{
    flex-direction: column;
  }
  .safereliable h2{
    font-size: 25px;
    display: block;
  }
  .title__column-safe{
    font-size: 20px;
  }
}
/****************************************Adaptiv*******************************************************/
/****************************************section3*******************************************************/
.why-use{
  position: relative;
  background: #fff; 
  overflow: hidden;
  padding-top: 200px;
}

.why-use::before{
  content: "";
  position: absolute;
  inset: 0 0 auto 0;
  height: 40%;
  background: url("../img_main/background-section3.png") center / cover no-repeat;
  z-index: 0;
}

.why-use__inner{
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
}

.why-use__block{
  position: relative;
  z-index: 3;
  background-color: #fff;
  margin-top: -50px;
  padding: 75px 0px;
  display: flex;
}

.why-use__body{
  padding: 0px 75px;
  flex: 50%;
}

.why-use__body h3{
  color: #000;
}

.why-use__body h2{
  margin-top: 20px;
  margin-bottom: 30px;
}

.why-use__body p{
  margin-bottom: 20px;
}

.why-use__body ul li{
  color: #000;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  line-height: 152%;
  display: flex;
  align-items: center;
  margin-left: 80px;
  position: relative;
  margin-top: 35px;
}


.money::before{
  content: url('../img/_main/section-3\ icon2.png');
  position: absolute;
  left: -80px;
}

.box::before{
  content: url('../img/_main/section-3\ icon.png');
  position: absolute;
  left: -80px;
}

.why-use__img{
  flex: 50%;
  padding-left: 75px;
}

.absolute-for-why-use{
  padding: 30px;
  position: absolute;
  left: 45%;
  top: 55%;
  z-index: 4;
  background-color: #fff;
}

.why-use__bottom{
  padding: 60px 40px;
}

.why-use__bottom__body{
  color: #000;
  display: flex;
  border-top: 2px solid #D4D4D4;
  border-bottom: 2px solid #D4D4D4;
}

.why-use__bottom__body-column{
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: center;
  padding: 35px 0px;
}

.why-use__bottom__body-column h2{
  font-family: "Rubik", sans-serif;
}

.why-use__bottom__body-column h3{
  display: flex;
  align-items: center;
  margin-left: 30px;
  position: relative;
}

.why-use__bottom__body-column h3::before{
  content: url('../img_main/Pattern.png');
  position: absolute;
  left: -20px;
}

.center-border{
  border-right: 2px solid #D4D4D4;
}

.why-use__img{
  background-image: url('../img_main/air-for-block\ section3.jpg');
  background-position: top ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  margin: 0px auto;
}
/****************************************ADAPTIV*******************************************************/
@media (max-width:1250px){
  .why-use__bottom__body-column h2{
    font-size: 40px;
  }
}

@media(max-width:1050px){
  .why-use__block{
    flex-direction: column-reverse;
    padding: 40px 0px 0px 0px;
    justify-content: center;
  }
  .center-border{
    border-right:none
  }
  .why-use__body{
    padding: 0px 40px;
    margin-top: 50px;
  }
  .why-use__img{
    flex: auto;
    padding: 0px 50px;
    margin-top: 20px;
    height: 300px;
    overflow: hidden;
  }
  .why-use__img img{
    min-width: 100%;
    size: cover;
  }
  .absolute-for-why-use{
    display: none;
  }
  .why-use__body ul{
    display: flex;
    flex-wrap: wrap;
  }
  .why-use__body ul li{
    font-size: 17px;
    margin-right: 50px;
  }
  .why-use__body ul li:last-child{
    font-size: 17px;
    margin-right: 0px;
  }
}

  @media(max-width:900px){
    .why-use__bottom__body{
      display: block;
    }
    .why-use__bottom{
      padding: 40px;
    }
    .why-use__bottom__body-column h2{
      font-size: 30px;
    }
    .why-use__body h2{
      font-size: 25px;
    }
    .why-use__img{
      margin-top: 60px;
    }
  }

  @media(max-width:600px){
    .why-use__img{
      flex: auto;
      padding: 0px 50px;
      margin-top: 20px;
      height: 200px;
      overflow: hidden;
      min-height: 150px;
      max-height: 150px;
    }
    .why-use__body ul li{
      margin-right: 50px;
    }
  }
/****************************************section4*******************************************************/
.transoprting::after{
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 50%;
  background: url("../img_main/background-section4.png") center / cover no-repeat;
  z-index: -1;
}

.transoprting{
  color: #1C1F35;
  padding: 80px  80px;
  position: relative;
  z-index: 1;
}

.transporting__title{
  text-align: center;
  margin-bottom: 35px;
}

.transporting__body {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

.transpotring__bottom{
  display: flex;
  justify-content: center;
}

.transpotring__button{
  display: inline-block;
  margin: 0px auto;
  color: #fff;
  padding: 20px 55px;
  margin-top: 60px;
}

.card {
  position: relative;
  aspect-ratio: 4 / 6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  transition: 500ms;
}

.card:hover{
  transform: scale(1.05);
}

.card h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 151%;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.card h3 {
  margin-top: 5px;
  line-height: 151%;
  color: #FFCB44;
  font-weight: 500;
  font-family: "Krub", sans-serif;
}


.card1{
  background-image: url('../img_main/section-4\ card1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card2{
  background-image: url('../img_main/section-4\ card2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card3{
  background-image: url('../img_main/section-4\ card3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card4{
  background-image: url('../img_main/section-4\ card4.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card5{
  background-image: url('../img_main/section-4\ card5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/****************************************ADAPTIV*******************************************************/
/* <= 1200px — 3 колонки */
@media (max-width: 1200px) {
  .transporting__body {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* <= 900px — 2 колонки */
@media (max-width: 900px) {
  .transporting__body {
    grid-template-columns: repeat(2, 1fr);
  }


  .transoprting{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* <= 520px — 1 колонка */
@media (max-width: 768px) {
  .transporting__body {
    grid-template-columns: 330px;
    justify-content: center;
  }
}

@media (max-width: 450px){
  .transoprting{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
  }
  .transporting__body {
    grid-template-columns: 300px;
    justify-content: center;
  }
}

/****************************************ADAPTIV*******************************************************/
/****************************************section5*******************************************************/
.what-customer-say{
  background-color: #fff;
}


.what-customer-say__body{
  padding: 90px 120px;
  color: #032951;
}


.what-customer-say__title{
  margin-top: 20px;
}


.wahat-customer__top{
  display: flex;
}

.what-customer__column-top{
  flex: 50%;
}

.what-customer__button-left{
  width: 43px;
  height: 43px;
  border-radius: 50%;
  font-size: 20px;
  color: #032951;
  background: #FFBB2F;
  font-weight: 700;
}

.what-customer__button-right{
  width: 43px;
  height: 43px;
  border-radius: 50%;
  font-size: 20px;
  background: #FFBB2F;
  color: #032951;
  margin-left: 10px;
}



.flex-end{
  display: flex;
  justify-content: right;
  align-items: end;
}

.what-customer__main{
  display: flex;
  padding-top: 40px;
  flex-wrap: wrap;
}

.what-customer__column__main{
  flex: 50%;
  padding: 60px 70px;
}


.grey__backround{
  background-color: #F4F4F4;
}

.blue__background p{
  color: #fff;
}

.blue__background{
  background-color: #091242;
  color: #fff;
}

.what-customer__main__column__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column__name{
  font-weight: 600;
}

.column__subtitle{
  margin-top: 10px;
}

.what-customer-say__users{
  position: relative;
  padding-left: 100px;
}

.smitch::before{
  content: url('../img_main/section-5\ icon-users-column1.png');
  position: absolute;
  left: -10px;
  top: -25px;
}

.john::before{
  content: url('../img_main/section-5\ icon-users-column2.png');
  position: absolute;
  left: -10px;
  top: -25px;
}


.what-customer__main__column__main{
  margin-top: 30px;
}

.what-customer__main__column__main p{
  font-style: italic;
}

.what-customer__main__column__bottom{
  margin-top: 20px;
}

.what-customer__column__main__left,
.what-customer__column__main__right {
  transition: 
    background-color 0.4s ease,
    transform 0.4s ease,
    opacity 0.4s ease;
}

.what-customer__column__main__left {
  transform: translateX(-20px);
  opacity: 0.7;
}

.what-customer__column__main__right {
  transform: translateX(20px);
  opacity: 0.7;
}

.blue__background {
  transform: translateX(0);
  opacity: 1;
}
/****************************************ADAPTIV*******************************************************/
@media(max-width:1400px){
  .what-customer-say__body{
    padding: 30px 60px;
  }
  .what-customer__column__main{
    padding: 40px;
  }
}


@media (max-width:1050px){
  .what-customer__main{
    display: block;
  }
}

@media (max-width:900px){
  .what-customer__column__main__left {
  transform: translateX(0px);
  opacity: 0.7;
}

.what-customer__column__main__right {
  transform: translateX(0px);
  opacity: 0.7;
}

.blue__background {
  transform: translateX(0);
  opacity: 1;
}
}

@media(max-width:768px){
  .flex-end{
    display: none;
  }
}

@media(max-width:600px){
  .what-customer-say__body{
    padding: 40px 0px;
  }
  .what-customer__column__main p{
    font-size: 14px;
  }
}


/****************************************section6*******************************************************/

.why-choose{
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}

.why-choose::before {
  content: "";
  position: absolute;
  inset: 0 auto 0 0;
  width: 50%;
  background: #0b1641;
  z-index: -1;
}


.why-choose::after {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  width: 50%;
  background: #F4F4F4;
  z-index: -1;
}

.why-choose__body{
  display: flex;
  position: relative;
}

.why-choose__img{
  flex: 60%;
  padding-top: 50px;
}

.why-choose__text{
  flex: 40%;
  color: #032951;
  padding: 55px 0px 0px 35px;
}

.why-choose__text p{
  color: #666C89;
  line-height: 151%;
}

.why-choose__text h2{
  font-size: 14px;
}

.why-choose__text h3{
  margin-top: 20px;
  margin-bottom: 20px;
}

.gold-absolute{
  position: absolute;
  bottom: 0px;
  left: 13%;
  width: 350px;
  height: 110px;
}


.why-choose__block-for-list{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 60px;
  column-gap: 50px;
  row-gap: 50px;
}

.why-choose__block-for-list h5{
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
  margin-left: 60px;
}

.why-choose__block-for-list h5 span{
  position: absolute;
  left: -60px;
}

.why-choose__block-for-list h5 span img{
  width: 50px;
  height: 50px;
}

/****************************************ADAPTIV*******************************************************/
@media(max-width:1400px){
  .why-choose__block-for-list h5{
    font-size: 16px;
  }
}

@media(max-width:1200px){
  .why-choose{
    padding: 30px 0px 50px 0px;
  }
  .gold-absolute{
  display: none;
  }
}

@media(max-width:1200px){
  .why-choose__text h3{
    font-size: 25px;
  }
  .why-choose__block-for-list{
    gap: 30px;
  }
}

@media(max-width:1000px){
  .why-choose__body{
    flex-direction: column;
  }
  .why-choose{
    display: flex;
    flex-direction: column;
  }
  .why-choose::before{
  content: "";
  position: absolute;
  inset: 0 auto 0 0;
  background: #0b1641;
  z-index: -1;
  width: 100%;
}
  .why-choose::after{
    width: 0%;
  }
.why-choose__img{
  padding-top: 0px;
  display: flex;
  justify-content: center;
}
.why-choose__img img{
  width: 90%;
  height: 90%;
}
.why-choose__block-for-list {
  gap: 50px;
}
.why-choose__text{
  padding-left: 0px;
  color: #F4F4F4;
}
.why-choose__text h2{
  padding: 2px 5px;
  background-color: #333A62;
  border-left: 3px solid #FFCB44;
  display: inline;
}
}


  


/****************************************Adaptiv*******************************************************/

@media(max-width:500px){
  .why-choose__block-for-list{
  display: none;
  flex-direction: column;
  align-items: center;
}
  .why-choose__block-for-list h5{
    margin-bottom: 50px;
  }
  .why-choose__block-for-list h5:last-child{
    margin-bottom: 0px;
  }

}
/****************************************section7*******************************************************/


.team{
  color: #032951;
  padding: 100px 0px;
}

.team__background-title{
  font-size: 14px;
  display: block;;
}

.team__title{
  margin-top: 20px;
}


.team__top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  row-gap: 80px;
  padding-top: 50px;
  place-items: center;
}

.team__card{
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 250px;
  position: relative;
  transition: 500ms;
}


.team__card:hover{
  transform: scale(1.02);
}

.team__card-for-img{
  flex: 80%;
  position: relative;
}



.team__card-for-text{
  flex: 20%;
  background-color: #1C1F35;
  color: #fff;
  padding: 40px 34px 20px 34px;
}


.team__icon_social-media{
  position: absolute;
  z-index: 50;
  padding: 20px 17px;
  bottom: -30px;
  right: 0px;
  background: #FFBB2F;
  background: linear-gradient(90deg,rgba(255, 187, 47, 1) 2%, rgba(255, 218, 86, 1) 52%, rgba(255, 215, 151, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__icon_social-media span{
  margin-right: 25px;
  transition: 500ms;
}

.last__span{
  margin-right: 0px;
}


.team__users{
  font-weight: 700;
}

.team__jobs h3{
  font-size: 13px;
  line-height: 151%;
  margin-top: 5px;
}

.team__icon_social-media span:hover{
  transform: scale(1.1);
}


/****************************************ADAPTIV*******************************************************/

@media(max-width:1450px){
  .team__main{
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media(max-width:1050px){
  .team__main {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 100px;
  }

  .team__main__main > :last-child {
    grid-column: 1 / -1;   /* на всю строку */
    justify-self: center; /* по центру */
  }
  .team__card{
  justify-content: center;
  }
}

@media(max-width:900px){
  .team{
    padding: 40px 0px;
  }
}

@media(max-width:768px){
  .team__main{
  grid-template-columns: repeat(1,1fr);
  }
}

/****************************************section7*******************************************************/

.form{
  background-color: #091242;
  padding: 100px 200px;
}


.form__main{
  display: flex;
}

.form__contact{
  flex: 30%;
}

.form__title{
  margin: 20px 0px;
}

.form__form{
  flex: 70%;
}

.form__text{
  line-height: 151%;
}

.form__info{
  margin-top: 50px;
}

.form__info li{
  margin-top: 30px;
}

.form__form{
  padding-left: 50px;
}

.contact-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  font-family: "Krub", sans-serif;
}

/* inputs + textarea */
.contact-form input,
.contact-form textarea{
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 20px;
  color: #fff;
  font-size: 16px;
  outline: none;
}

/* placeholder */
.contact-form input::placeholder,
.contact-form textarea::placeholder{
  font-family: "Krub", sans-serif;;
  color: rgba(255, 255, 255, 0.7);
}

/* textarea на всю ширину */
.contact-form textarea{
  grid-column: 1 / -1;
  min-height: 140px;
  resize: none;
}

/* фокус */
.contact-form input:focus,
.contact-form textarea:focus{
  border-color: #FFD550;
}


.form__button{
  justify-self: start;
  padding: 20px 35px;
}

.form__bottom{
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.form__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form__img{
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
}
/****************************************ADAPTIV*******************************************************/
@media (max-width:1470px){
  .form__bottom{
    display: none;
  }
}

@media (max-width:1150px){
  .form__main{
    flex-direction: column;
  }
  .form__form{
    padding-left: 0px;
    margin-top: 20px;
  }
  .form{
    padding: 50px 100px;
  }
}

@media (max-width:700px){
  .form{
    padding: 50px 0px 50px 0px;
  }
  .form__title{
    font-size: 25px;
  }
  .team__main{
    padding: 20px 0px;
  }
}

@media (max-width:650px){
  .contact-form{
    grid-template-columns: repeat(1, 1fr);
  }
}

/****************************************section8*******************************************************/


.blog{
  padding: 60px 0px;
  color: #032951;
}

.blog__top{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.blog__title{
  margin-top: 20px;
}


.blog__column{
  display: flex;
  padding: 30px 0px;
  border-top: 1px solid #D6D6D6;
  border-bottom:1px solid #D6D6D6;
  transition: 500ms;
}

.blog__column:hover .blog__img{
  transform: scale(1.02);
}

.blog__img{
  flex: 20%;
  padding: 30px;
  transition: 500ms;
}

.blog-first__background{
  background-image: url('../img_main/section-8\ blog1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
}

.blog-too__background{
  background-image: url('../img_main/section-8\ blog2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
}


.blog-three__background{
  background-image: url('../img_main/section-8\ blog3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
}

.blog-four__background{
  background-image: url('../img_main/section-8\ blog4.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
}

.blog-five__background{
  background-image: url('../img_main/section-8\ blog5.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
}

.blog__button{
  padding: 19px 50px;
  color: #fff;
}

.blog__bottom{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.blog__date{
  flex: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #D4D4D4;
}

.blog__day{
  font-size: 40px;
  font-weight: 700;
  margin-top: 5px;
}

.blog__text{
  flex: 30%;
  padding-left: 25px;
}

.blog__body a{
  color: inherit;
}

.blog__text__title{
  margin-bottom: 40px;
}

.blog__text ul{
  margin-top: 40px;
  line-height: 166%;
  list-style: disc;
  color: #000;
}

.blog-hover{
  width: 100%;
  height: 100%;
  background-color: #2b2a3bc8;
  display: none;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.blog__column:hover .blog__text__title {
  color: #FFBE34;
}

/****************************************ADAPTIV*******************************************************/

@media (max-width:1050px){
  .blog__column{
    flex-direction: column;
  }
  .blog__img{
    min-height: 500px;
    background-position: top;
    width: 100%;
  }
  .blog__date{
    margin-top: 20px;
    align-items: left;
    border-right: none;
    flex-direction: row;
    justify-content: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .blog__day{
    margin:0px 10px
  }
  .blog-hover{
    display: none;
  }
}

@media (max-width:768px){
  .blog__img{
    min-height: 300px;
    background-position: top;
  }
}



/****************************************section9*******************************************************/

.only-background{
  height: 200px;
  background-image: url('../img_main/section-9\ background.png');
  background-size: cover;
  background-position: center;
}

/****************************************ADAPTIV*******************************************************/
@media (max-width:1400px){
  .only-background{
    max-height: 200px;
  }
}

@media (max-width:900px){
  .only-background{
    max-height: 100px;
  }

}
