.pricing-banner{
  background-image: url('../img_pricing/section-1\ background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0px;
  margin-top: -78px;
}

.pricing-banner h1{
  margin-top: 20px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:900px){
  .pricing-banner{
    padding: 70px 0px;
  }
}

@media (max-width:700px){
  .pricing-banner__body h1{
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width:500px){
  .pricing-banner{
    background-position: right;
  }
}
}