

.project-single{
  background-image: url('../img__project__single/section-1\ background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0px;
  margin-top: -78px;
}

.project-single__body h1{
  margin-top: 20px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:900px){
  .project-single{
    padding: 70px 0px;
  }
}

@media (max-width:700px){
  .project-single__body h1{
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width:500px){
  .project-single{
    background-position: right;
  }
}
}
/*----------------------------------------Section2--------------------------------------------*/


.project-details{
  padding: 80px 0px;
  color: #1C1F35;
  background-color: #F4F4F4;
}

.project-details__body{
  display: flex;
}

.project-details__img{
  background-image: url('../img__project__single/section-2\ background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-details__text{
  padding: 40px 0px;
  padding-left: 50px;
}

.project-single-galery__block{
  transition: 500ms;
  cursor: pointer;
}

.project-single-galery__block:hover{
  transform: scale(1.02);
    cursor: pointer;
}

.project-details__column__title{
  margin-bottom: 20px;
}

.project-details__column{
  flex: 50%;
}

.project-details__column__list li{
  padding: 10px 0px;
}


.project-details__column__list li span{
  color: #000;
}

/*----------------------------------------Adaptiv--------------------------------------------*/

@media (max-width:900px){
  .project-details__body{
    flex-direction: column;
  }
  .project-details__img{
    min-height: 250px;
    background-position: bottom;
  }
}

@media (max-width:500px){
  .project-details__img{
    min-height: 250px;
  }
  .project-details__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
}


/*----------------------------------------Section3--------------------------------------------*/

.whare-house{
  padding: 50px 0px;
  color: #1C1F35;
}

.whare-house__body h2{
  color: #1C1F35;
  margin-bottom: 20px;
}

.whare-house__list{
  margin-top: 20px;
}

.whare-house__list li span{
  margin-right: 10px;
}

.whare-house__list li{
  display: flex;
  align-items: center;
  padding: 15px 0px;
  font-size: 20px;
}

/*----------------------------------------Section4--------------------------------------------*/

.our-project{
  margin-top: 50px;
}

.our-project__body{
  color: #1C1F35;
}

.our-project__title{
  margin-bottom: 20px;
}

.our-project__video{
  margin-top: 50px;
}

.our-project__video iframe{
  width: 100%;
  height: 100%;
  min-height: 550px;
}



.project-single__galery{
  padding: 80px 0px;
}


.project-single-galery__block{
  width: 30%;
  height: 280px;
}

.project-single__galery__title{
  color: #1C1F35;
  margin-bottom: 20px;
}

.project-single__galery__body{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  margin: 0px auto;
}

.galery-hover{
  display: none;
  padding: 25px;
}


/*----------------------------------------Adaptiv--------------------------------------------*/

@media (max-width:900px){
  .project-details{
    padding-bottom: 0px;
  }
  .our-project__video iframe{
  width: 100%;
  height: 100%;
  min-height: 350px;
  }
  .project-single-galery{
    flex-wrap: wrap;
  }
  .project-single-galery__block{
  width: 400px;
  height: 320px;
  }
  .project-single__galery__title{
    text-align: center;
    margin-bottom: 20px;
  }
  .project-single__galery__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:500px){
  .project-single-galery__block{
  width: 100%;
  height: 260px;
  }
  .our-project__video iframe{
  width: 100%;
  height: 100%;
  min-height: 250px;
  }
}