.project{
  background-image: url('../img_project/section-1\ background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0px;
  margin-top: -78px;
}

.project__body h1{
  margin-top: 20px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:900px){
  .project{
    padding: 70px 0px;
  }
}

@media (max-width:700px){
  .project__body h1{
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width:500px){
  .project{
    background-position: right;
  }
}
}


/*----------------------------------------Section3--------------------------------------------*/
.galery{
  padding: 80px 0px;
}


.galery__block{
  width: 340px;
  height: 300px;
  transition: 500ms;
}

.galery__block:hover{
  transform: scale(1.02);
}


.galery__body{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 0px auto;
}

.galery__block1{
  background-image: url('../img_project/section-2\ galery-background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galery__block2{
  background-image: url('../img_project/section-2\ galery-background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galery__block3{
  background-image: url('../img_project/section-2\ galery-background3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galery__block4{
  background-image: url('../img_project/section-2\ galery-background4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galery__block5{
  background-image: url('../img_project/section-2\ galery-background5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galery__block6{
  background-image: url('../img_project/section-2\ galery-background6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galery__block{
  position: relative;
  cursor: pointer;
}

.galery__block img{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: none;
}

