/*************************************Section1***********************/

.services__single{
  background-image: url('../img__services/services__single\ section-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0px;
  margin-top: -78px;
}

.services__single__body h1{
  margin-top: 20px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:900px){
  .services__single{
    padding: 70px 0px;
  }
}

@media (max-width:700px){
  .services__single__body h1{
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width:500px){
  .services__single{
    background-position: right;
  }
}
}



/*************************************Section2***********************/


.services__single__info{
  padding: 80px 0px;
  color: #1C1F35;
}





.services__info__title{
  display: flex;
  align-items: center;
  margin:40px 0px;
}



.services__info__title h2{
  display: inline-block;
  margin-left: 15px;
}


.last__parag{
  margin-top: 40px;
}


.services__info__main{
  display: flex;
  margin-top: 80px;
  gap: 50px;
}

.services__info__main__body{
  flex: 50%;
}

.services__info__main__img{
  flex: 50%;
  background-image: url('../img__services/services-single-section3\ backgriound.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.services__main__list ul li{
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.services__main__list ul li span{
  margin-right: 10px;
}

.services__main__text{
  margin-top: 20px;
}

.services__info__img img{
  max-height: 400px;
  margin: 0px auto;
  width: 100%;
}

.services__info__bottom{
  display: flex;
  gap: 50px;
  margin-top: 80px;
}

.services__info__bottom__video{
  flex: 50%;
}

.services__info__bottom__video iframe{
  width: 100%;
  height: 100%;
}

.services__info__bottom__body{
  flex: 50%;
  padding: 50px 0px;
}


.services__info__bottom__title{
  margin-bottom: 30px;
}



.services__info__bottom__body p{
  margin-top: 20px;
}




@media (max-width:1000px){
  .services__info__main{
    flex-direction: column-reverse;
  }
  .services__info__main__img{
    min-height: 350px;
  }

  .services__info__bottom{
    flex-direction: column;
    gap: 0px;
  }
  .services__info__bottom__video iframe{
    min-height: 340px;
  }
}


@media (max-width:768px){
  .services__info__bottom__body{
    padding-bottom: 0px;
  }
  .services__info__main__img{
    min-height: 200px;
    background-position: center;
  }
  .services__info__bottom__video iframe{
    min-height: 200px;
  }
}