.team-top{
  background-image: url('../img_team/section-1\ background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0px;
  margin-top: -78px;
  color: #fff;
}

.team-top__body h1{
  margin-top: 20px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/
@media (max-width:900px){
  .team-top{
    padding: 70px 0px;
  }
}

@media (max-width:700px){
  .team-top__body h1{
  margin-top: 20px;
  font-size: 40px;
}
@media (max-width:500px){
  .team-top{
    background-position: right;
  }
}
}

/*----------------------------------------section2--------------------------------------------*/

.team__solo-block{
  row-gap: 50px;
  column-gap: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

/*----------------------------------------Adaptiv--------------------------------------------*/

@media (max-width:700px){
  .team__main{
    padding-top: 50px;
  }
}

@media (max-width:1050px){
  .max1000px{
    max-width: 550px;
  }
}

/*----------------------------------------section3--------------------------------------------*/

.team__why-choose-use{
  padding: 70px;
  padding-bottom: 120px;
  color: #1C1F35;
}

.team__why-choose-use__body{
  display: flex;
}

.team__why-choose-use__column{
  flex: 50%;
}

.team__card:hover{
  transform: scale(1.02);
}

.why-choose-use__column-first{
  background-image: url('../img_team/section-3\ background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.why-choose-use__column__top{
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D6D6;
}

.why-choose-use__column__bottom{
  padding-top: 20px;
  display: flex;
}

.why-choose-use__bottom__column h5{
  margin-top: 20px;
}

.why-choose-use__bottom__column p{
  margin-top: 20px;
}

.why-choose-use__bottom__column{
  flex: 50%;
}

.why-choose-use__column__top h2{
  margin-top: 20px;
}

.why-choose-use__column-last{
  padding: 70px 0px 70px 70px;
}


.team__why-choose-use__column__absolute{
  background-image: url('../img_team/section-3\ absolute.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  border: 25px solid #fff;
  width: 220px;
  height: 220px;
  right: -50px;
  bottom: -50px;
}



/*----------------------------------------Adaptiv--------------------------------------------*/

@media (max-width:1250px){
  .team__why-choose-use__body{
    flex-direction: column;
  }
  .why-choose-use__column-first{
    min-height: 400px;
  }
  .why-choose-use__column__bottom{
    column-gap: 50px;
    padding-left: 0px;
  }
  .why-choose-use__column-last{
    padding-left: 0px;
  }
}

@media (max-width:768px){
  .team__why-choose-use__column__absolute{
    display: none;
  }
  .why-choose-use__column-first{
    min-height: 250px;
  }
  .team__why-choose-use{
    padding: 50px 0px;
  }
  .why-choose-use__column__bottom{
    column-gap: 20px;
    padding-left: 0px;
  }
}